<sony-navigation (onTabChange)="receiveTabChange($event)"></sony-navigation>
<div class="container">
  <!-- <div *ngIf="currentTabName == 'login'">
    <sony-login> </sony-login>
  </div>

  <div *ngIf="currentTabName == 'menuList'">
    <sony-menu-list></sony-menu-list>
  </div>

  <div *ngIf="currentTabName == 'menuDetail'">
    <sony-menu-item-detail></sony-menu-item-detail>
  </div>

  <div *ngIf="currentTabName == 'cart'">
    <sony-cart></sony-cart>
    <sony-checkout></sony-checkout>
  </div> -->
  <router-outlet></router-outlet>
</div>
