<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="ms-3 navbar-brand" href="#"> My First App </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" (click)="changeTab('first')">
        <a class="nav-link" href="#">First</a>
      </li>
      <li class="nav-item" (click)="changeTab('second')">
        <a class="nav-link" href="#">Second</a>
      </li>
    </ul>
  </div>
</nav>
