<div>
  <h1>This is App.component.html (Root)</h1>

  <div>
    <div class="d-flex justify-content-center align-items-center mx-3">
      <button class="btn btn-primary mx-2" (click)="changeTab(true, false)">
        First Component
      </button>

      <button class="btn btn-warning mx-2" (click)="changeTab(false, true)">
        Second component
      </button>
    </div>

    <div *ngIf="showFirst">
      <my-first></my-first>
    </div>

    <div *ngIf="showSecond">
      <app-my-second></app-my-second>
    </div>

    <div>
      <button (click)="toggleSecondComponent = !toggleSecondComponent">
        Toggle Second
      </button>
    </div>
  </div>
</div>
