<div>
  <h1>This is App.component.html (Root)</h1>

  <div>
    <div class="d-flex justify-content-center align-items-center mx-3">
      <button class="btn btn-primary mx-2" (click)="changeTab(true, false)">
        First Component
      </button>

      <button class="btn btn-warning mx-2" (click)="changeTab(false, true)">
        Second component
      </button>
    </div>

    <div *ngIf="showFirst">
      <!-- <my-first [products]="appProducts"></my-first> -->
      <my-first></my-first>
    </div>

    <div *ngIf="showSecond">
      <app-my-second
        (onProductUpdated)="receiveProductFromChild($event)"
      ></app-my-second>
    </div>
    <!--
    <app-my-second
      (onProductUpdated)="receiveProductFromChild($event)"
    ></app-my-second> -->

    <div>
      <button (click)="toggleSecondComponent = !toggleSecondComponent">
        Toggle Second
      </button>
    </div>
  </div>
</div>
